* {
    font-family: '맑은 고딕', sans-serif;
}
#login_box {
    max-width: 460px;
    border: 1px solid black;
    background-color: #F5F6F7;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

#img {
    display: block;
    margin: 100px auto 50px;
}

#login_form_box {
    width : 380px;
    margin: 0px auto;
    box-sizing: border-box;
}


#check_please {
    font-weight:900;
    font-size: 12px;
}
label {
    font-size: 12px;
}

#user_id, #user_pw {
    border: 2px solid #00FF00;
    width: 380px;
    height: 30px;
    margin: 2px auto;
}

#sign_in {
    background-color: #00FF00;
    border: none;
    color:#F5F6F7;
    margin-top: 15px;
    width: 380px;
    height: 40px;
}

.sign_find {
    background-color: #007777;
    color:#F5F6F7;
    border: none;
    width: 180px;
    height: 40px;
}

#box {
    display: flex;
    width: 380px;
    margin: 0px auto;
    box-sizing: border-box;
    margin-top: 50px;
}

#box2, #box3 {
    margin: 1px 3px 20px;
    text-align: center;
}

.bottom1 {
    font-weight:900;
    font-size: 12px;
    line-height: 1px;
}
.bottom2 {
    font-size: 1px;
    letter-spacing: -1px;
}

#user_id_wrong {
    display: none;
    color: red;
}

#user_id_correct {
    display: none;
    color: blue;
}